# Node Modules
**/node_modules

# Next.js
frontend/.next

# Environment Files
**/.env
**/.env.local

# Uploads
backend/uploads

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode

# Build
dist
build